<form [formGroup]="form" class="row align-items-center">
  <div class="col-lg-6">
    <mat-form-field class="w-100">
      <input matInput placeholder="Wpisz frazę np. Sushi" class="search-input"
             formControlName="searchField"
             (input)="onSearchChange($event.target.value)"
             [errorStateMatcher]
            >
    </mat-form-field>
  </div>
  <div class="col-lg-6">
    <button mat-flat-button color="primary" class="w-100" (click)="search()" [disabled]="form.invalid">Szukaj</button>
  </div>
</form>
