<section>
  <article *ngFor="let article of articles">
    <mat-card class="mt-3">
      <mat-card-title>{{article.title}}</mat-card-title>
      <mat-card-content [innerHTML]="article.snippet"></mat-card-content>
    </mat-card>
  </article>
</section>
