<mat-card class="main-card">
  <mat-card-title>
    Wikipedia Looker
  </mat-card-title>
  <mat-card-subtitle>
    <i>Porzućcie wszelką nadzieję, wy, którzy [tu] wchodzicie.</i>
  </mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content class="mt-8">
    <router-outlet></router-outlet>
  </mat-card-content>
  <mat-card-footer class="main-footer">
    <i>{{footerText}}</i>
  </mat-card-footer>
</mat-card>
