<form class="py-3">
  <app-search (change)="change($event)"></app-search>
  <mat-divider></mat-divider>
  <app-replace [articles]="articles"></app-replace>
  <app-articles [articles]="articles"></app-articles>
</form>
