<div class="row mt-3">
  <div class="col-lg-12">
    <mat-form-field class="w-100">
      <input matInput placeholder="Zamień na" class="search-input" [(ngModel)]="replacePhrase" />
    </mat-form-field>
  </div>
  <div class="col-lg-6">
    <button mat-flat-button color="primary" class="w-100" (click)="replace()">Zamień</button>
  </div>
  <div class="col-lg-6">
    <button mat-flat-button color="primary" class="w-100" (click)="replaceAll()">Zamień Wszystkie</button>
</div>
